@import "variables";
@import "mixins";
@import "extends";
@import "header";
@import "footer";
@import "home";
@import "about";
@import "contact";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}